$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

article{
  margin-top: 1em;
  font-size: 0.75em;

  img{
    padding: 0 0.5em 0.5em 0;
  }

}

header.header{
  font-size: 2em;
}

.news{
  h5{
    margin-top: 0px;
  }

  .seeMore{
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
  }

}

.news-date{
  margin: 0;
  color: #ccc;
}

.news-countInfo{
  color: #ccc;
  font-size: 11px;
}