<section class="news" ng-if="news.error == false">
    <article ng-repeat="item in news|limitTo:limitNumber">
        <p class="news-date"> {{item.pubDate}}</p>
        <h5 class="">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </h5>
        <section ng-bind-html="item.description|to_trusted">
        </section>
    </article>
    <p class="seeMore"><a ng-click="seeMore(limitNumber)">See more</a> <span class="news-countInfo">(showing {{limitNumber}} of {{totalCount}})</span>
</section>
<section ng-if="news.error">
    No data to display
</section>
